<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AMCORP_ERP.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AMCORP_ERP.Settings>
            <setting name="SetupDBEngine" serializeAs="String">
                <value>(LocalDB)</value>
            </setting>
            <setting name="SetupDBInstance" serializeAs="String">
                <value>AMCORP_ERP1</value>
            </setting>
            <setting name="SetupDBLogin" serializeAs="String">
                <value>AppliedLogin</value>
            </setting>
            <setting name="SetupDBPWHash" serializeAs="String">
                <value>SzEw4tUbceDbokUAQ9M3JRCGnExhi9S3</value>
            </setting>
            <setting name="SetupDBPath" serializeAs="String">
                <value>E:\AMCORP_ERP_APP\Setup_Database\</value>
            </setting>
            <setting name="PWChar" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="PWWrapper" serializeAs="String">
                <value>AMCORP</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MMM-yyyy</value>
            </setting>
            <setting name="AmountFormat" serializeAs="String">
                <value>_(* #,##0_);_(* (#,##0);_(* - </value>
            </setting>
            <setting name="ReportFrom" serializeAs="String">
                <value>2017-07-01</value>
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value>AMCORP Engineering and Construction (Pvt) Limited</value>
            </setting>
            <setting name="CompanyAddress" serializeAs="String">
                <value>LS-30, Block 13, F. B. Area, Karachi.</value>
            </setting>
        </AMCORP_ERP.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
